@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lalezar&display=swap');

body {
	font-family: Roboto, sans-serif;
	color: #f1f1f1;
	background-color: #000;
}

img {
	max-width: 540px;
	width: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	text-align: center;
	font-family: Lalezar, sans-serif;
	text-transform: uppercase;
	font-size: 3rem;
	font-weight: 100;
}

button {
	font-size: inherit;
	font-weight: inherit;
	border: none;
	background-color: #fff;
	border-radius: 2px;
}

.form-button {
	padding: 0.5rem;
}

form {
	display: none;
}

fieldset {
	margin-bottom: 1rem;
}

ul {
	list-style-type: none;
}

table {
	margin-top: 1rem;
	font-size: 0.75rem;
	text-align: center;
	border-collapse: collapse;
	width: 100%
}

th {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	font-weight: 700;
	color: #000;
	background-color: #fff;
}

th button {
	min-height: 3rem;
	background-color: #d4d4d4;
}

td {
	padding-top: 1rem;
	padding-bottom: 1rem;
	border-bottom: 1px solid #fff;
}

.Baby-Peach {
	color: #000;
	background-color: #d2db6f;
}

.Lemmy {
	color: #000;
	background-color: #ffb86c;
}

.Dry-Bones {
	color: #000;
	background-color: #b5baba;
}

.Toadette {
	color: #fff;
	background-color: #ff79c6;
}

.Koopa {
	color: #000;
	background-color: #50fa7b;
}

.Toad {
	color: #fff;
	background-color: #ff877e;
}

.Inkling-Girl {
	color: #fff;
	background-color: #e09c51;
}

.Peach {
	color: #000;
	background-color: #b5bf55;
}

.Inkling-Boy {
	color: #000;
	background-color: #8be9fd;
}

.Mario {
	color: #fff;
	background-color: #dc323b;
}

.Luigi {
	color: #000;
	background-color: #07d559;
}

.Metal-Mario {
	color: #fff;
	background-color: #777777;
}

.Boo {
	color: #000;
	background-color: #f8f8f2;
}

.Donkey-Kong {
	color: #000;
	background-color: #f1fa8c;
}

.Wario {
	color: #fff;
	background-color: #bd93f9;
}

.Bowser {
	color: #fff;
	background-color: #ff5555;
}